

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

/* Main Styles */

@font-face {
    font-family: Miso;
    src: url(fonts/Miso.woff);
}



body {
    
    font-family: Miso;
    background: #fdde7e;
}

h1 {
    font-size: 70px;
    font-weight: bold;
    color: #02995b;
    margin-top: 45px;
}

h2 {
    font-size: 52px;
    color: #333;
    font-weight: bold;
    margin-top: 40px;
}

p {
    display: inline-block;
    font-size: 24px;
    margin-top: 40px;
    width: 155px;
    color: #858585;
    text-align: center;
    margin-bottom: 40px;
}

img {
    margin-top: 25px;
    width: 140px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bronze, .gold, .silver {
    
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    width: 30%;
    background: white;
    justify-content: space-between;
    margin: 80px 20px;
}

.container > .gold {
    height: 550px;
}